<li [ngClass]="{ editing: isEditing, completed: todo.isCompleted }">
  <div class="view">
    <input
      type="checkbox"
      class="toggle"
      [checked]="todo.isCompleted"
      (change)="completeTodo(todo.id)"
    />
    <label (dblclick)="setEditMode()">{{ todo.text }}</label>
    <button
      class="destroy"
      (click)="removeTodo(todo.id)"
    ></button>
  </div>

  @if(isEditing) {
    <input
      #input
      class="edit"
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  }
</li>
