<section
  class="main"
  [ngClass]="{ hidden: isEmptyTodos() }"
>
  <input
    type="checkbox"
    class="toggle-all"
    id="toggle-all"
    [checked]="isAllTodosChecked()"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all todos as completed</label>
  <ul class="todo-list">
    @for (todo of visibleTodosSig(); track todo.id) {
      <td-todo
        [todo]="todo"
        [isEditing]="editingId === todo.id"
        (setEditingId)="setEditingId($event)"
      />
    }
  </ul>
</section>
